.container {
  width: 100%;
  height: 100%;
}
.heading {
  width: 100%;
  height: 80px;
  background-color: #001f8b;

  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 20px;
}

.noteImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: grid;
  place-items: center;
}

.noteImg h1,
.noteHead h1 {
  font-weight: 500;
  font-size: 24px;
  color: white;
}

.noteArea {
  width: 100%;
  height: calc(100% - 80px);
}
.notesDisplay {
  width: 100%;
  height: 70%;
  background-color: #dae5f5;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  overflow-y: auto;
}
.notesDisplay::-webkit-scrollbar {
  width: 10px;
}
.notesDisplay::-webkit-scrollbar-track {
  background: #000000a1;
  border-radius: 5px;
}

.notesDisplay::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.typeArea {
  width: 100%;
  height: 30%;
  background-color: #001f8b;
  display: grid;
  place-items: center;

  position: relative;
}
.typeArea > textarea {
  width: 95%;
  height: 80%;
  border-radius: 9px;
  padding: 15px;
  outline: none;
  resize: none;
  font-size: 25px;
  font-weight: 400;
}

.typeArea button {
  color: #001f8b;
  background-color: transparent;
  position: absolute;
  border: none;

  cursor: pointer;
  font-size: 25px;
  right: 5%;
  bottom: 18%;
  display: grid;
  place-items: center;
}

.typeArea button:disabled {
  color: #ababab;
  pointer-events: none;
}

.notes {
  width: 95%;
  background-color: white;
  border-radius: 5px;

  padding: 20px 25px;
  padding-right: 50px;

  box-shadow: 0px 4px 20px 0px #00000040;
}

.notes p {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}
.datentime {
  display: flex;
  align-items: center;
  justify-content: end;
  color: #353535;
  font-size: 17px;
  font-weight: 400;
}
